# Cache

**/watch_later/
**/memo-history.log
**/_config_dir_*/
**/venv/
deeplx_translate_user.py
cmder/config/user-ConEmu.xml
ditto/Ditto.Settings
keypirinha/Profile/User/currency.ini
keypirinha/Profile/User/github.ini
keypirinha/Profile/User/Keypirinha.history
keypirinha/_User/filebrowser/
sublime-text/Packages_User/Package Control.sublime-settings
rime/data/user.yaml