# Cache

**/watch_later/
**/memo-history.log
**/_config_dir_*/
rime/data/user.yaml
keypirinha/Profile/User/currency.ini
keypirinha/Profile/User/github.ini
ditto/Ditto.Settings
keypirinha/Profile/User/Keypirinha.history
