# Cache

**/watch_later/
**/memo-history.log
**/_config_dir_*/
cmder/config/user-ConEmu.xml
ditto/Ditto.Settings
keypirinha/Profile/User/currency.ini
keypirinha/Profile/User/github.ini
keypirinha/Profile/User/Keypirinha.history
keypirinha/_User/filebrowser/
rime/data/user.yaml